
nav {
  border-bottom: 2px solid #3FB0AC;
}

.interrupt-wrapper {
  opacity: 1;

  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.interrupt-wrapper.hidden {
  opacity: 0;
  user-select: none;
  visibility: hidden;
}

.interrupt-wrapper button {
  animation: glow 1s linear infinite alternate;
}

@keyframes glow {
  0% {
    background-color: #FFC107;
  }

  100% {
    background-color: #FFD967;
  }
}

svg {
  width: 300px;
  height: 300px;
}

.robot-head-outer {
  fill: none;
  stroke: #3FB0AC;
}

.robot-head-inner {
  fill: #3FB0AC33;
  stroke: #3FB0AC;
}

.robot-ear-left, .robot-ear-right {
  stroke: #3FB0AC;
}

.robot-ear-lobe-left, .robot-ear-lobe-right {
  fill: #3FB0AC33;
  stroke: #3FB0AC;
}

.robot-eye-left, .robot-eye-right {
  fill: #000000CC;
}

.robot-mouth {
  fill: #000000CC;
}
